<!DOCTYPE html>
<html lang="en">
{% load static %}
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Yash Darji</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'portfolio/Teal and Orange Boxes Art & Design Logo.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'portfolio/Teal and Orange Boxes Art & Design Logo.png' %}">
        <!-- All core CSS -->
    <link href="{% static 'portfolio/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/font-awesome.min.css' %}" rel="stylesheet">

    <link href="{% static 'portfolio/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/style.css' %}" rel="stylesheet">
      <link href="{% static 'portfolio/upload/style1.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/colors.css' %}" rel="stylesheet">

    <link href="{% static 'portfolio/css/responsive.css' %}" rel="stylesheet">



</head>
<body>

    <div id="wrapper">
        <div class="sidewrapper sidenav">
            <div class="text-right"><a href="#" id="nav-close"><i class="flaticon-multiply"></i></a></div>
            <div class="widget">
                <div class="widget-title-sidebar">
                    <h4><span><i class="fa fa-instagram"></i> Follow Us</span></h4>
                </div><!-- end widget-title -->

                <div class="instagram-widget text-center">
                    <h4>This is a custom widget area, you can add anything here. An example Instagram widget area.</h4>

                    <div class="image-area clearfix">
                        <a href="#"><img src="{% static 'upload/insta_01.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_02.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_03.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_04.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_05.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_06.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_07.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_08.jpg' %}" alt="" class="img-fluid"></a>

                        <a href="#"><img src="{% static 'upload/insta_09.jpg' %}" alt="" class="img-fluid"></a>
                        <a href="#"><img src="{% static 'upload/insta_10.jpg' %}" alt="" class="img-fluid"></a>

                    </div>
                </div><!-- end instagram-widget -->
            </div><!-- end widget -->


        </div><!-- end sidewrapper -->

        <header class="header transparent-header">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-inverse yamm" id="slide-nav">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="https://yashrajmeen.wixsite.com/website-2">Yash Darji</a>
                    <div class="collapse navbar-collapse" id="navbarTopMenu">
                        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                            <li><a class="nav-link" href="https://yashrajmeen.wixsite.com/website-2">Home</a></li>
                            <li><a class="nav-link" href="https://yashrajmeen.wixsite.com/website-2">About us</a></li>
<li><a class="nav-link" href="{% url 'blog:all_blogs' %}">Blog</a></li>

                            <li><a class="nav-link" href="https://yashrajmeen.wixsite.com/website-2/contact">Contact</a></li>
                        </ul>
                        <div class="nav navbar-nav ml-auto hidden-md-down hidden-sm-down hidden-xs-down">
                            <div class="head-social" style="font-size: 24px;">
                                <a target="_blank" href="https://www.facebook.com/people/Yashraj-Darji/100037275724567/" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="https://twitter.com/chaiPioBsctKhao" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="https://www.instagram.com/yshraj._/" title="Instagram"><i class="fa fa-instagram"></i></a>
                                <a target="_blank" href="https://github.com/yshraj" title="Instagram"><i class="fa fa-github"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/yash-darji-49a274203/" title="Instagram"><i class="fa fa-linkedin"></i></a>

                            </div>


                            </div><!-- end social -->
                        </div>
                    </div>
                </nav>
            </div><!--/.container inside nav-->
        </header>

        <section class="hero">

            <div class="container">
                <div class="hero-desc">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>YASH DARJI</h2>
                    <p class="lead"  style="color:black;" >Student at Institute of Technology, Nirma University<br><mark>Computer Science & Engineering</mark></h4>

                    <br>

                  <a href="{% static 'portfolio/Yash_Resume.pdf' %}" class="btn btn-primary btn-sm withradius secbtn withicon">Resume <i class="fa fa-long-arrow-right"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <a href="#first-section" class="bottom-button"><i class="flaticon-mouse"></i></a>

        </section><!-- end section -->











        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

        <!-- The Timeline -->

        <ul class="timeline">

        	<!-- Item 1 -->
        	<li>
                <h4 style="font-size:30px">EDUCATION TIMELINE</h4>
        		<div class="direction-r">
        			<div class="flag-wrapper">
        				<span class="flag">2019 - present</span><br>

                  <br>
        			</div>

              <h4 style="font-size:20px">Pursuing B.Tech</h4>
            <h2 style="font-size:25px" >Nirma University<br>
        			<div class="desc">

B.Tech in Computer Science and Engineering<br>
2019-Present | Ahmedabad, Gujarat<br>
Average PPI : 8.4 / 10.0<br>

              </div>
        		</div>
        	</li>

        	<!-- Item 2 -->
        	<li>
        		<div class="direction-l">
        			<div class="flag-wrapper">
        				<span class="flag">April 2019</span>
        			</div>

                <h2 style="font-size:25px" >Higher Secondary Education (HSC)<br>

        			<div class="desc">Shree Ganesh Vidhya Mandir<br>
              APR 2019 | Ahmedabad , Gujarat.<br>
              12 th Boards : 84% || 96.5 pr<br>
              GSEB RANK - 1903<br></div>
        		</div>
        	</li>

        	<!-- Item 3 -->
        	<li>
        		<div class="direction-r">
        			<div class="flag-wrapper">
        				<span class="flag">April 2017 </span>
        			</div>
                  <h2 style="font-size:25px" >Secondary Education (SSC)<br>
              <div class="desc">Shree Ganesh Vidhya Mandir<br>
              APR 2017 | Ahmedabad , Gujarat.<br>
              12 th Boards : 92% | 99.75 pr
              <br></div>


            </div>
        	</li>

        </ul>










        <section class="section lb">
            <div class="container">
                <div class="section-title text-center">
                    <h4 style="font-size:32px" >WORK EXPERIENCE</h4><br><br>
                    <h3 style="font-size:25px" >Worked as Wordpress Web Developer intern in Web999.<br>
                    APRI-JUNE 2020<br>
                    I worked as a part time employee (Intern) as a Sr,
                    Wordpress Web Developer in Web999 (Known as an
                    Web999 India) during my summer vacation after 4th
                    sem.
</h3>
                </div><!-- end section-title -->
              </div></section>


        <section id="first-section" class="section lb">
            <div class="container">
                <div class="section-title text-center">
                  <h4 style="font-size:32px" >Programming Languages Known</h4><br><br>
                </div><!-- end section-title -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="service-style-01">
                            <img src="upload/service_01.jpg" alt="" class="img-fluid">
                            <div class="service-desc-01">
                                <h4 style="font-size:25px" ><i class="flaticon-3d"></i>Proficient in :<br>
</h4>
                                <h4>C</h4>
  <h4>C++</h4>
        <h4>PYTHON</h4>
        <h4>HTML</h4>
              <h4>CSS</h4>





                            </div>
                        </div><!-- end service-style-01 -->
                    </div><!-- end col -->

                    <div class="col-md-4 mobmar30">
                        <div class="service-style-01">
                            <img src="upload/service_02.jpg" alt="" class="img-fluid">
                            <div class="service-desc-01">
                                <h4 style="font-size:25px"><i class="flaticon-photography"></i>Fluent in :</h4>
                                <h4>JAVA ( JSE CORE JAVA)</h4>
                                <h4>PYTHON PYQT5</h4><h4>Django</h4><h4>SHELL SCRIPT(LINUX)</h4>
                            </div>
                        </div><!-- end service-style-01 -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="service-style-01">
                            <img src="upload/service_03.jpg" alt="" class="img-fluid">
                            <div class="service-desc-01">
                                <h4 style="font-size:25px"><i class="flaticon-support"></i>Familiar:</h4>
                                <h4>
                                        ANGULAR JS
                                        </h4>                                <h4>MYSQL(DBMS)</h4>
                                <h4>                                        JAVA SCRIPT
</h4>

                            </div>
                        </div><!-- end service-style-01 -->
                    </div><!-- end col -->











                </div><!-- end row -->

  <div class="row">


    <div class="col-md-4 mobmar30">
        <div class="service-style-01">
            <img src="upload/service_02.jpg" alt="" class="img-fluid">
            <div class="service-desc-01">
                <h4 style="font-size:25px"><i class="flaticon-photography"></i>
COMPETITIVE PROGRAMMING</h4>
                <h4>
C | C++ | Python</h4>

            </div>


        </div><!-- end service-style-01 -->
    </div><!-- end col -->
    <div class="col-md-4 mobmar30">
        <div class="service-style-01">
            <img src="upload/service_02.jpg" alt="" class="img-fluid">
            <div class="service-desc-01">

  <h4 style="font-size:25px"><i class="flaticon-photography"></i>DEVELOPMENT</h4>
                <h4>
Html | CSS <br>Python PYQT5 | Django</h4>
            </div>


        </div><!-- end service-style-01 -->
    </div><!-- end col -->

          </div>
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section">
            <div class="container">
            <!--    <div class="section-title text-center">
                    <h4>Services</h4>
                    <h2>Why You Should to Choose Us</h2>
                </div><!-- end section-title -->

                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="service-box text-center">
                            <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
    letter-spacing: 1.8px;
    border-bottom: 2px solid #333;
    display: inline-block;

    text-transform: uppercase;">Skills</h4>
                            <h4 style="font-size:17px;">Mathematics.<br>
Problem-solving.<br>
Programming languages.<br>
Website Development using<br>
WordPress<br>
Basics of Graphic design<br>
Blogging</h4>



                        </div><!-- end box -->
                    </div><!-- end col -->

                    <div class="col-md-4 mobmar30">
                        <div class="service-box text-center">
                            <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
    letter-spacing: 1.8px;
    border-bottom: 2px solid #333;
    display: inline-block;

    text-transform: uppercase;">COURSEWORK</h4>
                            <h4 style="font-size:17px;">Data Structures<br>
Operating Systems<br>
Database Management<br>
OOPS<br>
Web Technologies<br>
Computer Architecture<br></h4>



                            <a href="{% static 'portfolio/Yash_Resume.pdf' %}" class="btn btn-primary btn-sm withradius secbtn withicon">Resume<i class="fa fa-long-arrow-right"></i></a>
                        </div><!-- end box -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="service-box text-center">
                            <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
    letter-spacing: 1.8px;
    border-bottom: 2px solid #333;
    display: inline-block; text-transform: uppercase;" >LANGUAGES SPOKEN</h4>
                            <h4 style="font-size:17px;">ENGLISH | GUJRATI | HINDI
</h4>


<h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
letter-spacing: 1.8px;
border-bottom: 2px solid #333;
display: inline-block; text-transform: uppercase;" >LINKS
</h4>
<h4>
  <a href="https://github.com/yshraj">Github</a><br>
  <a href="https://www.linkedin.com/in/yashraj-darji-49a274203/">LinkedIn</a>

</h4>


                        </div><!-- end box -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->




        <section id="first-section" class="section lb">
            <div class="container">
                <div class="section-title text-center">
                  <h4 style="font-size:32px" >COMPETITIVE CODING PLATFORMs:</h4><br><br>
                </div>


                <section class="section">
                    <div class="container">
                    <!--    <div class="section-title text-center">
                            <h4>Services</h4>
                            <h2>Why You Should to Choose Us</h2>
                        </div><!-- end section-title -->

                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="service-box text-center">
                                    <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
            letter-spacing: 1.8px;
            border-bottom: 2px solid #333;
            display: inline-block;

            text-transform: uppercase;">Hackerrank</h4>
                                    <h4 style="font-size:17px;">Username-<br>yashrajmeen | 5*</h4>


                                    <a href="https://www.hackerrank.com/yashrajmeen" class="btn btn-primary btn-sm withradius secbtn withicon">Hackerrank<i class="fa fa-long-arrow-right"></i></a>
                                </div><!-- end box -->
                            </div><!-- end col -->

                            <div class="col-md-4 mobmar30">
                                <div class="service-box text-center">
                                    <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
            letter-spacing: 1.8px;
            border-bottom: 2px solid #333;
            display: inline-block;

            text-transform: uppercase;">Codeforces</h4>
                                    <h4 style="font-size:17px;">Username- <br>yashrajjjj</h4>



                                    <a href="https://codeforces.com/profile/yashrajjjj" class="btn btn-primary btn-sm withradius secbtn withicon">Codeforces <i class="fa fa-long-arrow-right"></i></a>
                                </div><!-- end box -->
                            </div><!-- end col -->

                            <div class="col-md-4">
                                <div class="service-box text-center">
                                    <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
            letter-spacing: 1.8px;
            border-bottom: 2px solid #333;
            display: inline-block; text-transform: uppercase;" >Codechef</h4>
                                    <h4 style="font-size:17px;">Username- <br>yashraj_1001
            </h4>




                                    <a href="https://www.codechef.com/users/yashraj_1001" class="btn btn-primary btn-sm withradius secbtn withicon">Codechef <i class="fa fa-long-arrow-right"></i></a>
                                </div><!-- end box -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end container -->
                </section><!-- end section -->

                <div class="section-title text-center">
                <br>      <br>      <br>      <br>  <h4 style="font-size:32px" >Projects:</h4><br><br>
                </div>


<section class="section">
<div class="container">


  <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
  letter-spacing: 1.8px;
  border-bottom: 2px solid #333;
  display: inline-block; text-transform: uppercase;" >Online Bank Application which provides services like :
</h4><br><br>
  <h4 style="font-size:19px; font-weight: 450;
letter-spacing: 1.8px;
display: inline-block; ">
Fund Transfer | Create New Account | Transaction
(Credit / Debit ) | <br> FD | Statement | Close Account | FAQ <br>
Using PYTHON PYQT5 <br>
  </h4>


<br><br><br>



  <h4 style="font-size:25px; border-bottom-color: #f5a30e; font-weight: 700;
  letter-spacing: 1.8px;
  border-bottom: 2px solid #333;
  display: inline-block; text-transform: uppercase;" >PASSWORD GENERATOR SITE ACCORDING TO
REQUIREMENTS
</h4><br><br>
  <h4 style="font-size:19px; font-weight: 450;
letter-spacing: 1.8px;
display: inline-block; ">
According to user's choice site will generate password with/without Uppercase , with/without Numbers , with/without Special Characters of choosen length.
<BR>Using PYTHON Django Framework
  </h4>



</div></section>
</div></section>















        <footer class="footer section" style="background-color:black;">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 mobmartop30">
                        <div class="widget">
                            <div class="footer-links">
                                <nav class="foot-link">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Works</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Get In Touch</a></li>
                                    </ul>
                                </nav><!-- end foot -->
                            </div><!-- end links -->
<br>
                            <div class="widget">
                                <div class="contact-widget">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="widget-title">
                                                <i class="fa fa-map-marker"></i> Location
                                            </h4><br>
                                            <h4 style="color:white;">Ahmedabad , Gujrat .</h4>
                                        </div><!-- end col -->

                                        <div class="col-md-4">
                                            <h4 class="widget-title">
                                                <i class="fa fa-phone"></i> Phone
                                            </h4><br>
                                            <h4 style="color:white;">+91 8155092233</h4>
                                        </div><!-- end col -->

                                        <div class="col-md-4">
                                            <h4 class="widget-title">
                                                <i class="fa fa-envelope-open-o"></i>  Email
                                            </h4><br>
                                            <h4 style="color:white;">yashrdarjicse@gmail.com</h4><h4 style="color:white;">yashrajmeen@gmail.com</h4><h4 style="color:white;">yashdarjicse@gmail.com</h4>

                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end contact-widget -->
                            </div><!-- end widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-social">
                            <div itemscope="" itemtype="http://schema.org/Organization">
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://www.facebook.com/people/Yashraj-Darji/100037275724567/"><i class="fa fa-facebook"></i></a>
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://twitter.com/chaiPioBsctKhao"><i class="fa fa-twitter"></i></a>
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://github.com/yshraj"><i class="fa fa-github"></i></a>
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://www.linkedin.com/in/yash-darji-49a274203/"><i class="fa fa-linkedin"></i></a>
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://www.instagram.com/yshraj._/"><i class="fa fa-instagram"></i></a>

                            </div>
                        </div>
                        <div class="footer-copy">
                            <h4>© 2018 All Rights Reserved <a href="#">Yash Darji</a></h4>
                        </div><!-- end copy -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->
    </div><!-- end wrapper -->

    <div class="dmtop"><i class="fa fa-long-arrow-up"></i></div>

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>
